#txt2{
    
    font-family: 'Sans Sherif MS';
        background: linear-gradient(-45deg, #efeceb, #322f30, #7f1172, #91e80e);
        background-size: 500% 500%;
        animation: gradient 10s ease infinite;
        width: 95vw;
        height: 29vw;
        margin-left: 17vw;
        margin: 1vw 1vw;
        left:0;
        font-size: 1.3vw;
}

#txt3{
    
    font-family: 'Sans Sherif MS';
        background: linear-gradient(-45deg, #efeceb, #322f30, #7f1172, #91e80e);
        background-size: 500% 500%;
        animation: gradient 10s ease infinite;
        width: 95vw;
        height: 29vw;
        margin-left: 17vw;
        margin: 1vw 1vw;
        left:0;
        font-size: 1.3vw;
}



#form{
    background-color: antiquewhite;
    background:linear-gradient(-45deg, #efeceb, #322f30, #7f1172, #91e80e);
}

li
{
    list-style: none;
    margin-bottom: 2em;
}
  
input
{
    border: 1px solid black;
}
  
  input:in-range 
{
    background-color: rgba(16, 242, 16, 0.25);
}

input:out-of-range 
{
    background-color: rgba(255, 0, 0, 0.25);
    border: 2px solid red;
}
  
input:in-range + label::after
{
    content: 'okay.';
}
  
input:out-of-range + label::after 
{
    content: 'out of range!';
}

input:invalid 
{
    border: 2px solid red;
    content: 'Invalid';
}
  
  
input:invalid:required
{
    background-image: linear-gradient(to right, pink, red);
}
  
input:valid 
{
    border: 2px solid black;
    content: 'Okay';
}

textarea:invalid 
{
    border: 2px;
    content: 'Invalid!';
}
  
  
textarea:invalid:required
{
    background-image: linear-gradient(to right, pink, orange);
}
  
textarea:valid 
{
    border: 2px solid black;
    content: 'Valid';
}

#reflect{
    background-color: antiquewhite;
    font-family: 'Sans Sherif MS';
    width: 98vw;
    height: 46vw;
    background:linear-gradient(-45deg, #efeceb, #e8a9be, #7fc9f0, #929889);
}